<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Innap : Hotel Admin Template">
	
	<!-- PAGE TITLE HERE -->
	<title>Innap : Hotel Admin Template</title>
	

    <link href="css/main.min.css" rel="stylesheet">
	<link href="css/nice-select.css" rel="stylesheet">
		
    <link href="css/style.css" rel="stylesheet">
	
	
</head>

<body>
<video controls src="http://39.107.229.253/video.mp4" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;"></video>

</body>
</html>